<%= current_team.name %>

<ul>
  <% current_team.channels.each do |channel| %>
    <li><%= link_to channel.name, channel %></li>
  <% end %>
</ul>

<% if @channel %>
  <% @channel.members.each do |member| %>
    <%= link_to member.name, member %>
  <% end %>
<% end %>

<% if @post %>
  <%= form_for(@post) do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>
<% end %>

<% @posts.each do |post| %>
  <%= post.member.name %> (<%= link_to post.member do %>@<%= post.member.screen_name %><% end %>)
  <%= post.content %>
  <%= post.created_at %>
<% end %>
