<h1>Users::Activations#new</h1>

<%= form_with model: @user, url: users_activations_path, method: :post, local: true do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, disabled: true %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= hidden_field_tag :token, @token %>
  <%= f.submit %>
<% end %>
