<div class="container container-sm mt-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Activation</h4>

      <%= form_with model: @user, url: users_activations_path, method: :post, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, disabled: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, required: true, class: 'form-control' %>
        </div>

        <%= hidden_field_tag :token, @token %>

        <%= f.submit class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
