<div class="list-group-item py-3">
  <div class="d-flex justify-content-between mb-3">
    <div>
      <%= render 'shared/user', user: comment.user %>
    </div>

    <% if comment.user == current_user %>
      <div>
        <%= link_to mi.mode_edit, edit_post_comment_path(comment.post, comment), class: 'label-muted label-hover' %>
        <%= link_to mi.delete, [comment.post, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'label-muted label-hover' %>
      </div>
    <% end %>
  </div>

  <div data-controller="highlight" class="content">
    <%= sanitize(emojify(markdown(comment.content))) %>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <%= render 'likes/form', likable: comment, url: api_comment_likes_path(comment) %>
    </div>

    <div class="align-self-end text-muted small">
      <%= l(comment.created_at, format: :long) %>
    </div>
  </div>
</div>
