<div class="list-group-item py-3">
  <div class="clearfix mb-3">
    <div class="float-left">
      <%= render 'shared/user', user: comment.user %>
    </div>

    <% if comment.user == current_user %>
      <div class="float-right">
        <%= link_to mi.mode_edit, edit_post_comment_path(comment.post, comment), class: 'label-muted label-hover' %>
        <%= link_to mi.delete, [comment.post, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'label-muted label-hover' %>
      </div>
    <% end %>
  </div>

  <div class="content">
    <%= sanitize(markdown(comment.content)) %>
  </div>

  <%= render 'likes/form', likable: comment, url: api_comment_likes_path(comment) %>
  <span class="small text-muted"><%= comment.likes_count %></span>

  <div class="float-right text-muted small">
    <%= l(comment.created_at, format: :long) %>
  </div>
</div>
