<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'posts/nav' %>

      <div class="d-flex justify-content-between mb-3">
        <%= link_to mi.navigate_before,
              posts_calendar_path({ year: @date.prev_month.year, month: @date.prev_month.month }.merge(search_params)),
              class: 'btn btn-outline-primary btn-sm rounded-circle' %>

        <span class="align-self-center"><%= @date.strftime('%B %Y') %></span>

        <%= link_to mi.navigate_next,
              posts_calendar_path({ year: @date.next_month.year, month: @date.next_month.month }.merge(search_params)),
              class: 'btn btn-outline-primary btn-sm rounded-circle' %>
      </div>

      <div class="calendar">
        <%= carender collection: @posts, column: :posted_on do |date, posts| %>
          <div class="mb-1"><%= date.day %></div>

          <% posts.each do |post| %>
            <%= link_to post do %>
              <%= image_tag post.user.avatar_with_default, width: 18, class: 'rounded-circle' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-4">
      <%= render 'posts/search_form' %>
    </div>
  </div>
</div>
