<span data-controller="star" data-star-starred="<%= current_user.stars.exists?(post: post) %>">
  <%= form_with url: api_post_stars_path(post), data: { target: 'star.star' } do |f| %>
    <%= f.submit '&#9733;'.html_safe, data: { action: 'click->star#toggle' } %>
  <% end %>
  <%= form_with url: api_post_stars_path(post), method: :delete, data: { target: 'star.unstar' } do |f| %>
    <%= f.submit '&#9734;'.html_safe, data: { action: 'click->star#toggle' } %>
  <% end %>
</span>
