<span data-controller="button" data-button-is-pressed="<%= likable.liked_by?(current_user) %>">
  <%= form_with url: url, data: { target: 'button.press' } do |f| %>
    <%= f.button mi.thumb_up,
          data: { action: 'click->button#click' },
          class: 'btn btn-outline-like rounded-circle' %>
  <% end %>
  <%= form_with url: url, method: :delete, data: { target: 'button.unpress' } do |f| %>
    <%= f.button mi.thumb_up,
          data: { action: 'click->button#click' },
          class: 'btn btn-outline-like active rounded-circle' %>
  <% end %>
</span>
