<div class="container my-3">
  <%= render 'teams/nav' %>

  <div class="container container-sm">
    <%= render 'shared/errors', object: @form %>

    <%= form_with model: @form, scope: :webhook, url: polymorphic_path([:teams, @form.webhook.becomes(Webhook)]), local: true do |f| %>
      <div class="form-group">
        <%= f.label :type %>
        <%= f.select :type, webhook_types_for_select, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :url %> <%= required_mark %>
        <%= f.text_field :url, required: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :tag_name %>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= mi.local_offer %></span>
          </div>

          <%= f.text_field :tag_name,
                autocomplete: 'off',
                class: 'form-control',
                'data-controller': 'autocomplete--tag',
                'data-target': 'autocomplete--tag.textarea',
                'data-autocomplete--tag-tag-names': autocomplete_tag_names.to_s %>
        </div>

        <p class="form-text small text-muted">
          Posts with the tag specified here will be notified, otherwise all posts will be notified.
        </p>
      </div>

      <div class="form-group">
        <%= f.label :channel %> <%= required_mark %>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">#</span>
          </div>

          <%= f.text_field :channel, required: true, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= f.check_box :active, class: 'form-check-input' %>
          <%= f.label :active, class: 'form-check-label' %>
        </div>

        <div class="form-check">
          <%= f.check_box :on_post, class: 'form-check-input' %>
          <%= f.label :on_post, class: 'form-check-label' %>
        </div>

        <div class="form-check">
          <%= f.check_box :on_comment, class: 'form-check-input' %>
          <%= f.label :on_comment, class: 'form-check-label' %>
        </div>
      </div>

      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
