<div class="container mt-3">
  <%= render 'teams/nav' %>
  <%= render 'shared/errors', object: @user %>

  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= render 'shared/user', user: user %></td>
          <td><%= user.email %></td>
          <td class="text-capitalize"><%= user.role %></td>
          <td>
            <%= form_with model: user, url: teams_user_path(user), local: true, class: 'd-inline-block' do |f| %>
              <%= f.hidden_field :role, value: user.role_value_for_update %>
              <%= f.submit user.role_label_for_update, class: 'btn btn-outline-success btn-sm' %>
            <% end %>

            <%= link_to 'Delete', teams_user_path(user),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-outline-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= paginate(@users) %>
</div>
