<%= render 'shared/errors', object: @form %>

<%= form_with model: @form, url: polymorphic_path(@form.post), local: true, data: { controller: 'preview' } do |f| %>
  <%= f.label :posted_on %>
  <%= f.date_field :posted_on, required: true %>
  <%= f.label :content %>
  <%= f.text_area :content, required: true,
    'data-controller': 'autocomplete-content',
    'data-action': 'input->preview#input',
    'data-target': 'autocomplete-content.textarea preview.textarea',
    'data-autocomplete-content-tag-names': autocomplete_tag_names.to_s,
    'data-autocomplete-content-user-screen-names': autocomplete_user_screen_names.to_s %>
  <%= render 'tags/form', tag_names: @form.tag_names, name: 'post_form[tag_names][]' %>
  <%= f.submit %>
  <div data-target="preview.body">
  </div>
<% end %>
