<div class="d-flex justify-content-between mb-4">
  <div>
    <%= render 'shared/user', user: post.user %>
  </div>

  <% if post.user == current_user %>
    <div>
      <%= link_to mi.mode_edit, edit_post_path(post), class: 'label-muted label-hover' %>
      <%= link_to mi.delete, post,
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: 'label-muted label-hover' %>
    </div>
  <% end %>
</div>

<h4 class="card-title mb-4">
  <%= link_to l(post.posted_on, format: :long), post, class: 'text-dark' %>
</h4>

<div data-controller="highlight" class="card-text content mb-4">
  <%= sanitize(emojify(markdown(post.content))) %>
</div>

<% if post.tags.any? %>
  <div class="mb-3">
    <% post.tags.each do |tag| %>
      <%= link_to posts_path(tags: [tag.name]), class: 'btn btn-light btn-sm label-muted' do %>
        <%= mi.local_offer %> <%= tag.name %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="d-flex justify-content-between">
  <div>
    <%= render 'likes/form', likable: post, url: api_post_likes_path(post) %>
  </div>

  <div class="align-self-end small text-muted">
    <%= render 'stars/form', post: post %>
    <span class="label-muted ml-1"><%= mi.textsms %> <%= post.comments_count %></span>
    <span class="ml-1"><%= l(post.created_at, format: :short) %></span>
  </div>
</div>
