<% if search_params.present? %>
  <div class="form-group">
    <%= link_to url_for, class: 'btn btn-info btn-block' do %>
      <%= mi.clear %> Clear Conditions
    <% end %>
  </div>
<% end %>

<%= form_tag url_for, method: :get, class: 'mb-3' do %>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= mi.search %></span>
    </div>
    <%= search_field_tag :text, @form.text, class: 'form-control', placeholder: 'Search Repost...' %>
  </div>

  <% @form.users.each do |user| %>
    <%= hidden_field_tag 'users[]', user %>
  <% end %>

  <% @form.tags.each do |tag| %>
    <%= hidden_field_tag 'tags[]', tag %>
  <% end %>

  <%= hidden_field_tag 'starred', @form.starred %>
<% end %>

<div class="form-group search-labels">
  <ul class="list-unstyled">
    <li>
      <%= link_to_search_by_user current_user do %>
        <%= mi.person %> My Posts
      <% end %>
    </li>
    <li>
      <%= link_to_search_by_starred do %>
        <%= mi.star %> Only Starred Posts
      <% end %>
    </li>
  </ul>
</div>

<div class="border-top form-group pt-3 search-labels">
  <label class="d-block small text-muted text-uppercase">Tags</label>
  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col-6">
        <%= link_to_search_by_tag tag do %>
          <%= mi.local_offer %> <%= tag.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="border-top form-group pt-3 search-images">
  <label class="d-block small text-muted text-uppercase">Users</label>
  <% @users.each do |user| %>
    <%= link_to_search_by_user user do %>
      <%= image_tag user.avatar_with_default, width: 24, class: 'rounded-circle' %>
    <% end %>
  <% end %>
</div>
