<div class="container container-sm my-3">
  <h3 class="mb-3">Edit Account</h3>

  <%= render 'shared/errors', object: current_user %>

  <%= form_with model: current_user, url: account_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :email %> <%= required_mark %>
      <%= f.email_field :email, required: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <p class="form-text small text-muted">
        Fill in the field if you want to change the password.
      </p>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :screen_name %> <%= required_mark %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <%= f.text_field :screen_name, required: true, class: 'form-control' %>
      </div>
      <p class="form-text small text-muted">
        Screen name may only contain alphanumeric characters or underscores.
      </p>
    </div>

    <div class="form-group">
      <%= f.label :avatar, class: 'd-block' %>
      <%= image_tag current_user.avatar_with_default(size: 128),
            width: 64,
            class: 'mb-2 rounded' %>

      <div class="custom-file">
        <%= f.file_field :avatar, class: 'custom-file-input' %>
        <span class="custom-file-label">Choose avatar...</span>
      </div>
    </div>

    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>
