<div class="container mt-3">
  <%= render 'teams/nav' %>

  <div class="container container-sm">
    <%= render 'shared/errors', object: @user %>

    <%= form_with model: @user, url: teams_invitations_path, local: true do |f| %>
      <div class="form-group">
        <%= f.label :email %> <%= required_mark %>
        <%= f.email_field :email, required: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :role %>
        <%= f.select :role, User.roles.keys, {}, class: 'form-control' %>
      </div>

      <%= f.hidden_field :password %>

      <%= f.submit 'Invite User', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
